<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <title>程序猿银行</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">

        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid">开始时间:</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                  <input type="text" class="layui-input" id="begin_date" name="begin_date">
                                </div>
                                <div class="layui-form-mid">结束时间:</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                  <input type="text" class="layui-input" id="end_date" name="end_date">
                                </div>
                                <div class="layui-form-mid">操作类型</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <select name="type" id="type">
                                        <option value="0">登入登出</option>
                                        <option value="1">转账汇款</option>
                                        <option value="3">账户加挂</option>
                                        <option value="4">账户列表</option>
                                        <option value="5">交易明细</option>
                                        <option value="6">日志查询</option>
                                    </select>     
                                </div>
                                <button class="layui-btn layui-btn-blue" onclick="search()">查询</button>
                                <button class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增</button>
                        <table id="demo"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script>
      var element = layui.element;
  var table = layui.table;
  var form = layui.form;
  
  //展示已知数据
  table.render({
    elem: '#demo'
   , id:'demo'
   ,url: '/Account/log' //数据接口
    ,cols: [[ //标题栏
      {field: 'id', title: 'ID', width: 80, sort: true,align:'center'}
      ,{field: 'create_time', title: '时间', width: 120,align:'center'}
      ,{field: 'type', title: '操作类型', width: 100,align:'center'}
      ,{field: 'success', title: '是否成功', minWidth: 80,align:'center'}
      ,{field: 'ip', title: '操作ip', width: 150,align:'center'}
      ,{field: 'operation', title: '具体操作', minWidth: 120,align:'center'}
    ]]
    ,skin: 'line' //表格风格
    ,even: true
    ,page: true //是否显示分页
    ,limits: [5, 7, 10]
    ,limit: 5 //每页默认显示的数量
  });
  function search(){
	   var begin_dates = Date.parse($("#begin_date").val()) ;
	  var end_dates = Date.parse($("#end_date").val()) ;
	  console.log($("#type").val()); 
	  
	  //获取类型，起止时间
	 table.reload('demo', {
	      where: { //设定异步数据接口的额外参数，任意设
	    	  type: $("#type").val()
              ,start_dates: begin_dates
              ,end_dates:end_dates
	      }
	      ,page: {
	        curr: 1 //重新从第 1 页开始
	      }
	    });
  }
  layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#begin_date' //指定元素
	  });
	});
  layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#end_date' //指定元素
	  });
	});
  
    </script>
</body>
</html>